<div class="profile-grid">
  <div class="profile-infos">
    <!-- stuff -->
  </div>
  <div class="profile-section">
    <!-- stuff -->
  </div>
  <div class="profile-section">
    <!-- stuff -->
  </div>
  <div class="profile-section">
    <!-- stuff -->
  </div>
  <div class="profile-section">
    <!-- stuff -->
  </div>
  <!-- etc ...-->
</div>


